:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 10rem;

  --primary: #32a6ff;
  --darker-primary: #1e3570;
  --foreground: #1a1a1a;
}

ul {
  padding-left: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --foreground: #f9f9f9;
    --primary: #2e8fda;
    --darker-primary: #4a70cf;
  }
}